<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/hh_small.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
        <ol>
            <li>Download the Hathor Wallet at <a href="https://hathor.network/get-started/">Hathor Site</a></li>
            <li>Install the wallet</li>
            <li>Configure the Token below to get the WATER drops</li>
        </ol>
         <img class="portrait" src="/img/water_token.png">
   </div>
    
    {{>footer}}
</body>

</html>