<!DOCTYPE html>

<html>

<head>
    <title>WATER Faucet</title>
    <link rel="icon" href="/img/hh_small.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Insert your HATHOR wallet address and get some WATER drops!</p>

        <form>
            <input size=24 placeholder="Wallet Address">
            <button>Drop Water!</button>
        </form>

        <p id="message-1"></p>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>